* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-app {
  text-align: center;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  margin: auto;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.todo-item input {
  width: 20px;
  height: 20px;
}

.todo-item button {
  padding: 8px 20px;
  border: none;
}

.todo-item button:hover {
  background-color: #ccc;
}

.AddTodo input {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
}

.AddTodo button {
  padding: 10px 20px;
  border: none;
}

.AddTodo button:hover {
  background-color: #ccc;
}